<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:include="template :: header" />
    <body>
        <link href="" th:href="@{/media/css/teacher_module/class.css}" rel="stylesheet" media="screen"/>
        <div class="container">
            <div th:substituteby="template :: nav" />   
            <!--<a th:href="@{/staff/management/students/new}" class="btn btn-primary float_right margin_button_bottom">Thêm Học Sinh Mới</a>-->
            <div class="clearfix"></div>
            
            <label>
                Mã Học Sinh: <span class="strong_text" th:text="${hocSinh.getmaHocSinh()}" id="maHocSinh"/>
            </label>
            <label>
                Tên Học Sinh: <span class="strong_text" th:text="${hocSinh.gethoTen()}" id="hoTen"/>
            </label>
            
            <table id="table" style="table-layout: fixed; word-wrap: break-word;">
                <thead>
                    <tr>
                        <th colspan="9" class="border_table">Học kỳ: </th>           
                    </tr>
                    <tr>
                        <th colspan="3" class="border_table">Kiểm tra miệng</th>                        
                        <th colspan="3" class="border_table">Kiểm tra 15</th>
                        <th colspan="2" class="border_table">Kiểm tra 1 TIẾT</th>
                        <th rowspan="2" class="border_table">Điểm</th>
                    </tr>                        
                    <tr>                                           
                        <th>Cột 1</th>
                        <th>Cột 2</th>
                        <th>Cột 3</th>                                        
                        <th>Cột 1</th>
                        <th>Cột 2</th>
                        <th>Cột 3</th>                    
                        <th>Cột 1</th>
                        <th>Cột 2</th>
                    </tr>                    
                </thead>
                <tbody>

                </tbody>
            </table>
            <div th:include="template :: footer"></div>
        </div>	
        <!--          HTML for modal popup-->
        <!-- modal content -->
        <!--        <div id='confirm'>
                        <div class='header'><span>Confirm Delete Student</span></div>
                        <div class='message'></div>
                        <div class='buttons'>
                        <div class='no simplemodal-close'>No</div><div class='yes'>Yes</div>
                        </div>
                </div>-->
        <!-- preload the images -->
        <div style='display:none'>
            <img src='img/confirm/header.gif' alt='' />
            <img src='img/confirm/button.gif' alt='' />
        </div>
        <script src="" th:src="@{/media/js/jquery.simplemodal.js}"></script>
        <script src="" th:src="@{/media/js/teacher_module/mark.js}"></script>
        <script th:inline="javascript">
            /*<![CDATA[*/

            /*]]>*/
        </script>    
    </body>
</html>