<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns="http://www.w3.org/1999/html5"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tags">

    <head></head>
    <body>
        <div class="">
            <div id="news-panel" class="panel">
                <div class="">
                    <ul class="news-tabs" th:if="${listNews}" style="min-height:400px">
                        <li th:id="${news.id}" class="list-group-item" th:each="news : ${listNews}">
                            <div class="row">
                                <div class="col-xs-12"> 
                                    <div class="col-xs-10 pull-left">
                                        <span class='glyphicon glyphicon-info-sign pull-left padding-right-5'> </span>
                                        <a th:href="@{/guest/news/}+${news.id}" th:text="${news.title}" class="pull-left news-title"/>
                                        <p th:inline="text" class="pull-left"> - [[${#dates.format(news.date,'dd/MM/yyyy - hh:mm:ss')}]]</p>
                                    </div>
                                    <div class="action pull-right col-xs-2" sec:authorize="hasRole('STAFF')">
                                        <a   class="btn btn-primary btn-xs" title="sửa" th:href="@{'/staff/management/news/edit/'}+${news.id}" >
                                            <span class="glyphicon glyphicon-pencil"></span>
                                        </a>
                                        <a class="btn btn-danger btn-xs" title="xóa"
                                           th:href="@{'/staff/management/news/delete/'}+${news.id}">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>  
                </div>
            </div>
        </div>
        <link href="" th:href="@{/media/css/guest/guest.css}" rel="stylesheet" media="screen" />
        <script th:inline="javascript">
            /*<![CDATA[*/
          
            /*]]>*/
        </script>    
    </body>
</html>