<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns="http://www.w3.org/1999/html5"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tags">

    <head></head>
    <body>
        <div class="">
            <div class="panel">
                <div class="">
                    <ul class="news-tabs" th:if="${listNews}" style="min-height:400px">
                        <li class="list-group-item" th:each="news : ${listNews}">
                            <div class="row">
                                <div class="col-xs-10"> 
                                        <div>
                                            <span class='glyphicon glyphicon-info-sign'/>
                                            <a th:href="${news.url}" th:text="${news.title}"/>
                                            <div class="mic-info" th:inline="text">Ngày đăng: [[${#dates.format(news.date,'dd/MM/yyyy - hh:mm:ss')}]]</div>
                                        </div>
                                        <div class="action pull-right" sec:authorize="hasRole('STAFF')">
                                            <button type="button" class="btn btn-primary btn-xs" title="sửa">
                                                <span class="glyphicon glyphicon-pencil"></span>
                                            </button>
                                            <button type="button" class="btn btn-danger btn-xs" title="xóa">
                                                <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                        </div>
                                </div>
                            </div>
                        </li>
                    </ul>  
                </div>
            </div>
        </div>
        <link href="" th:href="@{/media/css/guest/guest.css}" rel="stylesheet" media="screen" />
        <script th:inline="javascript">
            /*<![CDATA[*/
            /*]]>*/
        </script>    
    </body>
</html>