<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:include="staff/template :: header" />
    <body>
        <div class="container">
            <div th:substituteby="staff/template :: nav" />   
            <a th:href="@{/staff/management/grade/new}" class="btn btn-primary float_right margin_button_bottom">Thêm khối lớp</a>
            <div class="clearfix"></div>
            <table id="table" class="table_khoilop" style=" word-wrap: break-word;">
                <thead>
                    <tr>
                        <th>Tên Khối Lớp</th>                        
                        <th>Mô tả</th>
                    </tr>
                </thead>
                <tbody>                       
                    <tr th:id="${khoiLop.getid()}" align="center" th:each="khoiLop: ${listkhoiLop}">
                        <td th:text="${khoiLop.gettenKhoiLop()}" id="tenkhoiLop"/>                        
                        <td th:text="${khoiLop.getmoTa()}" id="moTa"/>  
                    </tr>
                </tbody>
            </table>
            <div th:include="staff/template :: footer"></div>
        </div>	
        <script th:inline="javascript">
            /*<![CDATA[*/
            jQuery(document).ready(function() {
                jQuery("#table").dataTable({"bJQueryUI": true});
                COMMON.activeMenu("nav_lophoc");
            });
            /*]]>*/
        </script>    
    </body>
</html>