
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:include="staff/template :: header" />
    <body class="main-body">
        <div class="container main-container">
            <div th:substituteby="staff/template :: nav" />   
            <div class="clearfix"></div>
            <span th:id="${namHienTai.getid()}" class="namHocHienTai"></span>
            <div class="form-group">
                <div class="pull-right">
                    <a th:href="@{/staff/management/class/new}" class="btn btn-primary">Thêm Lớp Học Mới</a>
                </div>
                <label class="control-label col-md-2">Năm Học</label>
                <div class="col-md-3">
                    <select id="IDNamHoc" name="IDNamHoc" class="form-control">
                        <option th:each="namHoc : ${listNamHoc}" th:text="${namHoc.gettenNamHoc()}" th:value="${namHoc.getid()}"/>                          
                    </select>
                </div>
                <div class="clearfix"></div>
            </div>
            
            <div id="mainTable"></div>
        </div>	
        <div th:include="staff/template :: footer" class="main-container container"></div>
        <script src="" th:src="@{/media/js/staff_module/class_index.js}"></script>
        <script th:inline="javascript">
            /*<![CDATA[*/
            var load_lophoc_url = /*[[@{/staff/management/class/load}]]*/"demo";
            jQuery(document).ready(function() {
                jQuery("#table").dataTable({"bJQueryUI": true});
                COMMON.activeMenu("nav_lophoc");
            });
            /*]]>*/
        </script>    
    </body>
</html>