
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:include="staff/template :: header" />
    <body>
        <div class="container">
            <div th:substituteby="staff/template :: nav" />   
            <a th:href="@{/staff/management/class/new}" class="btn btn-primary float_right margin_button_bottom">Thêm Lớp Học Mới</a>
            <div class="clearfix"></div>
            <span th:id="${namHienTai.getid()}" class="namHocHienTai"></span>
            <label class="select_label">Xem Theo Năm Học</label>
            <select id="IDNamHoc" name="IDNamHoc" class="input-xlarge custom_checkbox">
                <option th:each="namHoc : ${listNamHoc}" th:text="${namHoc.gettenNamHoc()}" th:value="${namHoc.getid()}"/>                          
            </select>
            <div id="mainTable"></div>
            <div th:include="staff/template :: footer"></div>
        </div>	
        <script src="" th:src="@{/media/js/staff_module/class_index.js}"></script>
        <script th:inline="javascript">
            /*<![CDATA[*/
            var load_lophoc_url = /*[[@{/staff/management/class/load}]]*/"demo";
            jQuery(document).ready(function() {
                jQuery("#table").dataTable({"bJQueryUI": true});
                COMMON.activeMenu("quanly_nav");
            });
            /*]]>*/
        </script>    
    </body>
</html>