<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:include="staff/template :: header" />
    <body>
        <div class="container">
            <div th:substituteby="staff/template :: nav" />            
            <a th:href="@{/staff/management/subject/new}" class="btn btn-primary float_right margin_button_bottom">Thêm Môn Học Mới</a>
            <div class="clearfix"></div>
            <table id="table" style="table-layout: fixed; word-wrap: break-word;">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Tên Môn Học</th>                        
                        <th>Mô tả</th>
                    </tr>
                </thead>
                <tbody>                       
                    <tr th:id="${monhoc.getid()}" align="center" th:each="monhoc: ${listMonHoc}">
                        <td>1</td>
                        <td th:text="${monhoc.gettenMonHoc()}" id="tenMonHoc"/>                        
                        <td th:text="${monhoc.getmoTa()}" id="moTa"/>  
                    </tr>
                </tbody>
            </table>            
            <div th:include="staff/template :: footer"></div>
        </div>	             
        <script th:inline="javascript">
            /*<![CDATA[*/
            jQuery(document).ready(function() {
                jQuery("#table").dataTable({"bJQueryUI": true});
                COMMON.activeMenu("quanly_nav");
            });
            /*]]>*/
        </script>    
    </body>
</html>