<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:include="staff/template :: header">
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
        <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
        <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    </head>
    
    <body>
        <div class="container">
            <div th:substituteby="staff/template :: nav" />               
            <form id="form-horizontal" class="form-horizontal bs-docs-example" method="post" th:action="@{/staff/management/students/save}">
                <div class="inner_form">
                    <div class="control-group">
                        <label class="control-label" for="maHocSinh">Mã Học Sinh</label>
                        <div class="controls">
                          <input id="maHocSinh" name="maHocSinh" type="text" placeholder="Mã học sinh" class="input-xlarge validate[required] "/>                      
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="hoTen">Họ Tên</label>
                        <div class="controls">
                          <input id="hoTen" name="hoTen" type="text" placeholder="" class="validate[required] input-xlarge"/>                      
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="Giới Tính">Giới Tính</label>
                        <div class="controls">
                            <select name="gioiTinh" class="validate[required] input-xlarge custom_checkbox">
                                <option  value="1">Nam</option>
                                <option value="0">Nữ</option>                            
                            </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="ngaySinh">Ngày Sinh</label>
                        <div class="controls">
                            <input type="text" id="datepickerngaySinh" name="ngaySinh" class="input-xlarge"/>
                        </div>
                    </div>
                    <!-- Textarea -->
                    <div class="control-group">
                      <label class="control-label" for="diaChi">Địa Chỉ</label>
                      <div class="controls">                     
                        <textarea id="diaChi" name="diaChi" class="input-xlarge"></textarea>
                      </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="ngayNhapHoc">Ngày Nhập Học</label>
                        <div class="controls">
                            <input type="text" id="datepickerNhapHoc" name="ngayNhapHoc" class="input-xlarge" />
                        </div>
                    </div>
                    
                    <div class="control-group">                        
                      <label class="control-label" for="khoiLop">Khối Lớp</label>
                      <div class="controls">
                        <span class="invisible span_select" th:id="${khoiLop6.getid()}"></span>
                        <select id="khoiLop" name="IDKhoiLop" class="input-xlarge custom_checkbox">
                          <option th:each="khoiLop : ${listkhoiLop}" th:text="${khoiLop.gettenKhoiLop()}" th:value="${khoiLop.getid()}"/>                          
                        </select>
                      </div>
                    </div>
                     <!-- Button -->
                    <div class="control-group">                    
                        <div class="controls">
                            <button id="ThemBtn" name="ThemBtn" class="btn btn-primary">Thêm</button>
                            <a th:href="@{/staff/management/students/index}" class="btn">Trở Lại</a>                            
                        </div>
                    </div>
                </div>
            </form>
            <div th:include="staff/template :: footer"></div>
        </div>	
            
        <script th:inline="javascript">
            /*<![CDATA[*/
            jQuery(document).ready(function() {
                jQuery("#form-horizontal").validationEngine();
                COMMON.activeMenu("nav_hocsinh");
                $("#khoiLop")[0].value = $("span.span_select")[0].id;
            });
            /*]]>*/
            var today = new Date();
            var yearToday = today.getFullYear();
            $(function() {
                $( "#datepickerngaySinh" ).datepicker({
                    yearRange: "1992:" + yearToday +"",
                    changeMonth: true,
                    changeYear: true,
                    dateFormat: "dd/mm/yy"
                });
                $( "#datepickerNhapHoc" ).datepicker({
                    yearRange: "2000:2023",
                    changeMonth: true,
                    changeYear: true,
                    dateFormat: "dd/mm/yy"
                });
                $('#maHocSinh').focus();
              });
              
        </script>    
    </body>
</html>