<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:include="staff/template :: header" />
    <body>
        <div class="container">
            <div th:substituteby="staff/template :: nav" />   
            <a th:href="@{/staff/management/major_detail/new}" class="btn btn-primary float_right margin_button_bottom">Thêm Chi Tiết Chuyên Môn Mới</a>
            <div class="clearfix"></div>
            <table id="table" class="table_chitiet_phancong" style="word-wrap: break-word;">
                <thead>                                         
                    <th>Khối Lớp</th>
                    <th>Môn Học</th>
                    <th>Giáo Viên</th>                    
                </thead>
                <tbody>
                    <tr th:id="${chitiet.getid()}" align="center" th:each="chitiet: ${listChiTietChuyenMon}">
                        <td th:text="${chitiet.getChiTietMonHoc().getKhoiLop().gettenKhoiLop()}" class="tenKhoiLop"></td>
                        <td th:text="${chitiet.getChiTietMonHoc().getMonHoc().gettenMonHoc()}" class="tenMonHoc"/>                        
                        <td th:text="${chitiet.getGiaoVien().gethoTen()}" class="tenGiaoVien"/>  
                    </tr>
                </tbody>
            </table>
            <div th:include="staff/template :: footer"></div>
        </div>	        
        <script src="" th:src="@{/media/js/staff_module/major.js}"></script>

        <script th:inline="javascript">
//             var chamDiemURL = /*[[@{/teacher/class/}]]*/ "chamDiem";
        </script>    
    </body>
</html>