/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 10, 2013, 11:48:00 PM
    Author     : HuuTri
*/

.thong-bao-panel {
    padding: 0px;
    margin-right: 0px;
}

.panel-default>.panel-heading {
    background-color: #f4f3ef;
    border-color: #f4f3ef;
    height: 80%;
    padding: 5px;
}

.panel-default {
    border-color: #f4f3ef;
}

.footer {
    font-family: "segoe ui";
    opacity: 0.5;
    font-weight: 700;
}
/*seacrh field*/
#custom-search-form {
    margin:0;
    margin-top: 5px;
    padding: 0;
}

#custom-search-form .search-query {
    padding-right: 3px;
    padding-right: 4px \9;
    padding-left: 3px;
    padding-left: 4px \9;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */

    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#custom-search-form button {
    border: 0;
    background: none;
    /** belows styles are working good */
    padding: 2px 5px;
    margin-top: 2px;
    position: relative;
    left: -28px;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.search-query:focus + button {
    z-index: 3;   
}

/*thumbnail*/
/* carousel */
.media-carousel 
{
    margin-bottom: 0;
    padding: 0 40px 30px 40px;
    margin-top: 30px;
}
/* Previous button  */
.carousel-inner>.item>img, .carousel-inner>.item>a>img {
    max-height: 300px;
    width: 100%;
}
.media-carousel .carousel-control.left 
{
    left: -12px;
    background-image: none;
    background: none repeat scroll 0 0 #222222;
    border: 4px solid #FFFFFF;
    border-radius: 23px 23px 23px 23px;
    height: 40px;
    width : 40px;
    margin-top: 30px
}
/* Next button  */
.media-carousel .carousel-control.right 
{
    right: -12px !important;
    background-image: none;
    background: none repeat scroll 0 0 #222222;
    border: 4px solid #FFFFFF;
    border-radius: 23px 23px 23px 23px;
    height: 40px;
    width : 40px;
    margin-top: 30px
}
/* Changes the position of the indicators */
.media-carousel .carousel-indicators 
{
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-right: -19px;
}
/* Changes the colour of the indicators */
.media-carousel .carousel-indicators li 
{
    background: #c0c0c0;
}
.media-carousel .carousel-indicators .active 
{
    background: #333333;
}
.media-carousel img
{
    width: 250px;
    height: 100px
}
.carousel-container {
    margin-left: 3px;
}
/* End carousel */
/*news element*/
.pagination {
    margin: -1px 0px 0px 0px;
    padding: 0px;
}

.pagination > li > a{
    border-top: 0px;
    font-weight: bolder;
}

.nav-tabs {
    margin: 0px;
    padding-left: 0px;
}

.nav-tabs>li>a {
    font-family: "segoe ui";
    color: #000;
    opacity: 0.3;
}

.nav-tabs>li:first-child a, .nav-tabs>li:first-child:hover a{
   border-left: 0px;
}

.nav-tabs>li.active> a, .nav-tabs>li:hover> a{
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    opacity: 1;
}
.news-tabs {
    margin: -1px;
    padding-left: 0px;
}
.list-group-item {
    padding-left: 20px;
    background-color: #FFFFFF;
}

.list-group-item:hover {
    background-color: 	#F0F6FC;
}

.list-group-item:first-child {
    border-top: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.list-group-item{
    border-right: 0px;
    border-left: 0px;
}
.panel {
    margin: 0px;
}

.news-container {
    padding:0px;
/*    -moz-box-shadow:    2px 2px 2px 2px #ccc;
    -webkit-box-shadow: 2px 2px 2px 2px #ccc;
    box-shadow:         2px 2px 2px 2px #ccc;

    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=1,MakeShadow=true,ShadowOpacity=0.30);
    -ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius=1,MakeShadow=true,ShadowOpacity=0.30)";*/
}