<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:include="template :: header" />
    <body>
        <div class="container">
            <div th:substituteby="template :: nav" />               
            <form class="form-horizontal bs-docs-example" method="post" th:action="@{/staff/management/class/save}">                
                <div class="inner_form">
                <!-- Text input-->
                    <div class="control-group">
                      <label class="control-label" for="tenLopHoc">Tên Lớp Học</label>
                      <div class="controls">
                        <input id="tenLopHoc" name="tenLopHoc" type="text" placeholder="Tên Lớp Học" class="input-xlarge"/>                    
                      </div>
                    </div>

                    <!-- Select Basic -->
                    <div class="control-group">
                      <label class="control-label" for="namHoc">Năm Học</label>
                      <div class="controls">
                        <select id="namHoc" name="IDnamHoc" class="input-xlarge custom_checkbox">
                          <option th:each="namHoc : ${listnamHoc}" th:text="${namHoc.gettenNamHoc()}" th:value="${namHoc.getid()}"/>
                        </select>
                      </div>
                    </div>

                    <!-- Select Basic -->
                    <div class="control-group">
                      <label class="control-label" for="khoiLop">Khối Lớp</label>
                      <div class="controls">
                        <select id="khoiLop" name="IDkhoiLop" class="input-xlarge custom_checkbox">
                          <option th:each="khoiLop : ${listkhoiLop}" th:text="${khoiLop.gettenKhoiLop()}" th:value="${khoiLop.getid()}"/>                          
                        </select>
                      </div>
                    </div>

                    <!-- Select Basic -->
                    <div class="control-group">
                      <label class="control-label" for="giaoVien">Giáo Viên</label>
                      <div class="controls">
                        <select id="giaoVien" name="IDgiaoVien" class="input-xlarge custom_checkbox">
                          <option th:each="giaoVien : ${listgiaoVien}" th:text="${giaoVien.gethoTen()}" th:value="${giaoVien.getid()}"/>                                                    
                        </select>
                      </div>
                    </div>

                    <!-- Button -->
                    <div class="control-group">                    
                        <div class="controls">
                            <button id="ThemBtn" name="ThemBtn" class="btn btn-primary">Thêm</button>
                        </div>
                    </div>
                </div>
            </form>
            <div th:include="template :: footer"></div>
        </div>	
        <script th:inline="javascript">
            /*<![CDATA[*/
            jQuery(document).ready(function() {
                jQuery("#form-horizontal").validationEngine();
                COMMON.activeMenu("quanly_nav");
            });
            /*]]>*/
        </script>    
    </body>
</html>