/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 14, 2013, 9:09:23 PM
    Author     : linhly
*/
/*.slide-panel {
    margin-top: -10px;
}*/
.login-panel {
    min-height: 300px;
    max-width: 400px;
}

.btn-sm {
    max-width: 100px;
}

.input {
    margin-top: 10px;
    max-width: 400px;
}

#field {
    margin-bottom:20px;
}

.news-title {
    font-weight: 600;
}

.margin-right {
    margin-right: 10px;
}

.padding-left-5 {
    padding-right: 5px;
}
.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
    min-height: 30px;
}
.align_left{
    text-align:left;
}
.align_right{
    text-align:right;
}
.float_right{
    float: right;
}
.float_left{
    float: left;
}
.margin_button_bottom{
    margin-bottom: 10px;
}
.margin_button_top{
    margin-top: 10px;
}
.col-md-2 {
    width: 10%;
}    

.inner_form{
    margin: 0 15%;
}

.margin-top-down {
    margin-left: 15px;
    margin-top: 10px;
}

.margin-top {
    margin-top: -11px;
}

.padding-100 {
    margin-left: -70px;
}

.icon-action{
    margin: 0 10px;
}
.invisible{
    display: none;
}

.padding-10 {
    margin-left: -15px;
    padding-left: 0px;
    padding-bottom: 10px;
}

.select_label{    
    padding-right: 0;
    padding-bottom: 30px;
}
.strong_text{
    font-weight: bold;
}

.align_center{
    text-align: center;
}

.min_width_button_modal{
    min-width: 100px;
}
.bs-docs-example:after{
    content: none !important;
}

.radio_khoiLop{
    width: 50%;
}
.message_modal{
    margin-bottom: 10px;
}

.margin_label_right{
    margin-right: 10px;
}

/*Css for modal*/

.main-container {


    padding-left: 0px;
    padding-right: 0px;

    margin-bottom: 5px;
    background-color: #fafafa;
    -moz-box-shadow:    0px 0px 4px 4px #DBDEDE;
    -webkit-box-shadow: 0px 0px 4px 4px #DBDEDE;
    box-shadow:         0px 0px 4px 4px #DBDEDE;

    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30);
    -ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30)";
}
.main-body {
    margin-top: 0px;
    padding-top: 0px;
    font-family: "segoe ui";
    background: url("img/bg.jpg"), repeat;
    height: 100%;
    padding-bottom: 0px;
    font-size: 14px;
    /*background-color: #FFFFFF;*/
}

.min_width_button_normal{
    min-width: 70px;
}
.margin_action{
    margin: 0 10px;
}
.navbar-inverse {
}

.nav-tabs>li>a {
    font-size:16px;
}

.nav-tabs {
    background: url("img/bg.jpg"), repeat;
}

.editor-container {
    padding: 10px;
}

.space-top {
    margin-top: 10px;
}

.carousel-control.right {
    background-image: none;
}

.carousel-control.left {
    background-image: none;
}

.news-container {
    /*margin-right :10px;*/
    margin-top: -20px;
    padding: 0px;
    -moz-box-shadow:    0px 0px 2px 2px #DBDEDE;
    -webkit-box-shadow: 0px 0px 2px 2px #DBDEDE;
    box-shadow:         0px 0px 2px 2px #DBDEDE;

    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30);
    -ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30)";
}

.navbar-toggle {
    background-color: black;
}

.content-margin {
    margin-top: 10px;
}

.feed_item {
    text-overflow:ellipsis;
    overflow: hidden;
}

.most-read-panel > .panel-heading {
    background-color: #faa61c;
    color: white;
}

.warning-panel > .panel-heading {
    background-color: #ae113e;
    color: white;
}

.panel-same-info > .panel-heading{
    background-color: #31708f;
     color: white;
}