/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 15, 2013, 11:39:25 AM
    Author     : linhly
*/

@media
only screen and (max-width: 760px),(min-device-width: 768px) and (max-device-width: 1024px){
    table, thead, tbody, th, td, tr { 
        display: block; 
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr { 
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr { border: 1px solid #ccc; }

    td { 
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee; 
        position: relative;
        padding-left: 50%; 
    }

    td:before { 
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%; 
        padding-right: 10px; 
        white-space: nowrap;
    }

    /*
    Label the data
    */
    .table_namhoc td:nth-of-type(1):before { content: "STT"; }
    .table_namhoc td:nth-of-type(2):before { content: "Năm Hoc"; }
    .table_namhoc td:nth-of-type(3):before { content: "Mô Tả"; }
    
    .table_khoilop td:nth-of-type(1):before { content: "Khối Lớp"; }
    .table_khoilop td:nth-of-type(2):before { content: "Mô Tả"; }
    
    
    .table_list_lophoc td:nth-of-type(1):before { content: "Tên Lớp Học"; }
    .table_list_lophoc td:nth-of-type(2):before { content: "Giáo Viên"; }
    .table_list_lophoc td:nth-of-type(3):before { content: "Sĩ Số"; }
    
    .table_giaovien td:nth-of-type(1):before { content: "Mã Giáo Viên"; }
    .table_giaovien td:nth-of-type(2):before { content: "Họ Tên"; }
    .table_giaovien td:nth-of-type(3):before { content: "Ngày Sinh"; }
    .table_giaovien td:nth-of-type(4):before { content: "Giới Tính"; }
    .table_giaovien td:nth-of-type(5):before { content: "Ngày Vào Làm"; }
    .table_giaovien td:nth-of-type(6):before { content: "Ngày Nghỉ Việc"; }
    .table_giaovien td:nth-of-type(7):before { content: "Địa Chỉ"; }
    .table_giaovien td:nth-of-type(8):before { content: "Tác Vụ"; }   
    
    .table_monhoc td:nth-of-type(1):before {content: "Tên";}
    .table_monhoc td:nth-of-type(2):before {content: "Mô Tả";}
    
    .table_hocsinh td:nth-of-type(1):before {content: "Mã Học Sinh";}
    .table_hocsinh td:nth-of-type(2):before {content: "Ngày Sinh";}
    .table_hocsinh td:nth-of-type(3):before {content: "Giới Tính";}
    .table_hocsinh td:nth-of-type(4):before {content: "Địa Chỉ";}
    .table_hocsinh td:nth-of-type(5):before {content: "Ngày Nhập Học";}
    .table_hocsinh td:nth-of-type(6):before {content: "Ngày Nghỉ Học";}
    .table_hocsinh td:nth-of-type(7):before {content: "Tác Vụ";}        
    
    .table_view_lophoc td:nth-of-type(1):before {content: "Họ Tên";}
    .table_view_lophoc td:nth-of-type(2):before {content: "Ngày Sinh";}
    .table_view_lophoc td:nth-of-type(3):before {content: "Giới Tính";}
    .table_view_lophoc td:nth-of-type(4):before {content: "Địa Chỉ";}
    .table_view_lophoc td:nth-of-type(5):before {content: "Ngày Nhập Học";}
    .table_view_lophoc td:nth-of-type(6):before {content: "Ngày Nghỉ Học";}
    .table_view_lophoc td:nth-of-type(7):before {content: "Tác Vụ";}   
}