<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head  th:fragment="header">
        <div  th:include="master-layout/template::header"/>
    </head>    
    <body th:fragment="body">
        <div th:fragment="nav" class="masthead" id="masthead" >
            <div th:include="master-layout/template::nav"/>
            
        </div>
        <footer th:fragment="footer" >
            <div th:include="master-layout/template::footer"/>
        </footer>
        <script>
        </script>
    </body>
</html>