<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:include="teacher/template :: header" >

    </head>
  <body class="main-body">
        <div class="container main-containern">
            <div th:substituteby="teacher/template :: nav" />   
            <!--<a th:href="@{/staff/management/students/new}" class="btn btn-primary float_right margin_button_bottom">Thêm Học Sinh Mới</a>-->
            <div class="clearfix"></div>
            <label>Tên Lớp Học: <span class="strong_text" th:text="${lopHoc.gettenLopHoc()}"></span></label>      
            <label>Tên Môn Học: <span class="strong_text" th:text="${monHoc.gettenMonHoc()}"></span></label> 
            <table id="table" style="table-layout: fixed; word-wrap: break-word;">
                <thead>                    
                    <tr>                        
                        <th>Mã Học Sinh</th>
                        <th>Tên Học Sinh</th>
                        <th>Giới tính</th>
                        <th>Ngày Sinh</th>
                        <th>Số Ngày Nghỉ Học</th>
                        <th>Chấm Điểm</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:id="${hocsinh.getid()}" align="center" th:each="hocsinh: ${listHocSinh}">                        
                        <td th:text="${hocsinh.getmaHocSinh()}"/>
                        <td th:text="${hocsinh.gethoTen()}"/>
                        <td th:text="${hocsinh.getgioiTinh()}"/>
                        <td th:text="${hocsinh.getngaySinh()}"/>
                        <td th:text="${hocsinh.getngayNghiHoc()}"/>
                        <td>
                            <a th:href="@{'teacher/template/teacher/class/'+ ${phanCong.getid()} + '/' + ${hocsinh.getid()}}" title="Chấm điểm"><i class="glyphicon glyphicon-pencil"></i></a>                      
                        </td>
                    </tr>
                </tbody>
            </table>
            <div th:include="teacher/template :: footer"></div>
        </div>	
        <!--          HTML for modal popup-->
        <!-- modal content -->
        <!--        <div id='confirm'>
                        <div class='header'><span>Confirm Delete Student</span></div>
                        <div class='message'></div>
                        <div class='buttons'>
                        <div class='no simplemodal-close'>No</div><div class='yes'>Yes</div>
                        </div>
                </div>-->
        <!-- preload the images -->
        <div style='display:none'>
            <img src='img/confirm/header.gif' alt='' />
            <img src='img/confirm/button.gif' alt='' />
        </div>
        <script src="" th:src="@{/media/js/jquery.simplemodal.js}"></script>
        <script src="" th:src="@{/media/js/teacher_module/list.js}"></script>
        <script th:inline="javascript">
            /*<![CDATA[*/

            /*]]>*/
        </script>    
    </body>
</html>