<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:include="teacher/template :: header" />
    <body>
        <div class="container">
            <div th:substituteby="teacher/template :: nav" />              
            <div class="clearfix"></div>
            <label>Lớp : <span class="strong_text" th:text="${tenLop}"/></label>
            <br/>
            <label>Môn học: <span class="strong_text" th:text="${monHoc}"/></label>
            <table id="table" style="table-layout: fixed; word-wrap: break-word;">
                <thead>
                    <tr>                        
                        <td align="center" colspan="3">Học Kỳ : <span th:text="${hocKy}"/></td>
                    </tr>
                    <tr>
                        <th>Mã Học Sinh</th>
                        <th>Họ và Tên</th>
                        <th align="center" th:text="'Điểm ' + ${tenLoaiDiem}"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:id="${diem.getid()}" align="center" th:each="diem: ${listDiem}">   
                        <th th:text="${diem.getHocSinh().getmaHocSinh()}"/>
                        <th align="left" th:text="${diem.getHocSinh().gethoTen()}"/>
                        <th> <input class="cham_diem" th:value="(${loaiDiem} eq 'ktmieng'? ${diem.getListDiemKTMieng().get(0)} : 
                                    (${loaiDiem} eq 'kt15'? ${diem.getListDiemKT15().get(0)} : 
                                    (${loaiDiem} eq 'kt1tiet'? ${diem.getListDiemKT1Tiet().get(0)}: 
                                    (${loaiDiem} eq 'ktgiuaky'? ${diem.getDiemGiuaKy()} : 
                                    (${diem.getDiemCuoiKy()}))))) ge 0 ? 
                                    
                                    (${loaiDiem} eq 'ktmieng'? ${diem.getListDiemKTMieng().get(0)} : 
                                    (${loaiDiem} eq 'kt15'? ${diem.getListDiemKT15().get(0)} : 
                                    (${loaiDiem} eq 'kt1tiet'? ${diem.getListDiemKT1Tiet().get(0)}: 
                                    (${loaiDiem} eq 'ktgiuaky'? ${diem.getDiemGiuaKy()} : 
                                    (${diem.getDiemCuoiKy()}))))) : 'chưa có' "/></th>
                    </tr>
                </tbody>
            </table>
            <div th:include="teacher/template :: footer"></div>
        </div>	
        
        <script src="" th:src="@{/media/js/teacher_module/marking.js}"></script>

        <script th:inline="javascript">
            var chamDiemURL = /*[[@{/teacher/class/chamdiem}]]*/ "chamdiem";
            var loaiDiemKT = /*[[${loaiDiem}]]*/"loai";            
        </script>    
    </body>
</html>
