<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head  th:fragment="header">
        <div  th:include="master-layout/template::header"/>
        <link href="" th:href="@{/media/css/chosen.css}" rel="stylesheet" media="screen"/>
        <script src="" th:src="@{/media/js/chosen.jquery.min.js}"></script>
        <script src="" th:src="@{/media/js/chosen.proto.min.js}"></script>
        <link th:href="@{/media/css/bootstrap-editable.css}" rel="stylesheet"/>
        <script th:src="@{/media/js/bootstrap-editable.min.js}"></script>
        <script src="" th:src="@{/media/js/fckeditor/ckeditor.js}"></script>
        <!--<script src="" th:src="@{/media/js/typeahead.js}"></script>-->
    </head>    
    <body>
        <div th:fragment="nav" class="masthead" id="masthead" >
            <div th:include="master-layout/template::nav"/>         
        </div>
        <footer th:fragment="footer" >
            <div th:include="master-layout/template::footer"/>
        </footer>
    </body>
</html>